<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to admin page!</h1>
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->

<!--  &lt;!&ndash; Add a link to point to /systems ... this is for the admins &ndash;&gt;-->

<!--  <p>-->
<!--  <div th:if="${session.user}" >-->
<!--    <p th:text="'First name: ' + ${session.user.username} + ', Email: ' + ${session.user.email}"></p>-->
<!--  </div>-->
<!--  </p>-->

</div>
</body>
</html>